$headerBgColor: linear-gradient(45deg, #6f1e95, #007b58);
$whiteColor: white;
$fontfamily1: "Exo 2", sans-serif;
$btnBgColor : linear-gradient(45deg, #4113c5, #4fa4db);
$hotelCards: #f7f5f3;
$cardBorder: rgb(233, 220, 220) ;